input::placeholder {
  color: black;
}
td{
	text-align:center;
	vertical-align:top;
	padding:5px 0;
}
a{
	text-decoration:none;
}
a:visited{
	text-decoration:none;
	color:black;
}
.filt{
	display: block;
	width: 70px;
	cursor: pointer;
}
.filt_i{
	display: block;
	width: 70px;
	cursor: pointer;
}
.ml{
	cursor:pointer;
	float:left;
	margin-top:70px;
}
.active_f{
	background-image: url(../images/active_f.png);
	background-position:bottom -4px left;
	background-repeat: no-repeat;
}
.active_h{
	background-image: url(../images/active_f.png);
	background-position:bottom 2px center;
	background-repeat: no-repeat;
	background-size:90%;
}
/* .active_item{
	background-image: url(../images/active_f.png);
	background-position:bottom -4px right;
	background-repeat: no-repeat;
} */
.menu{
	display:inline-block;
	padding: 20px 8px;
	text-decoration: none;
	line-height: 3px;
	font-size: 30px;
}
body{
	font-family: 'CENTURY GOTHIC';
}
.hero_face{
	display:none;
}

.hero_face_open{
	margin-left:20px;
	width:95%;
	display:flex;
	flex-wrap:wrap;
	margin-bottom:10px;
}

.dropbtn {
	background-color: #629786;
    font-size: 30px;
    border: none;
}

.menumore {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
	top:53px;
	left:0px;
	border-top:none;
	box-shadow:0 0 12px #d8cea9;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
	top:53px;
	left:0px;
	border-top:none;
	box-shadow:0 0 12px #d8cea9;
}

.dropdown-content2 a {
	background-color: #629786;
    color: black;
    padding: 16px 0px;
    text-decoration: none;
    display: block;
	text-align: center;
	width:135px;
	font-size:21px;
}

.dropdown-content a {
	background-color: #629786;
    color: black;
    padding: 16px 0px;
    text-decoration: none;
    display: block;
	text-align: center;
	width:205px;
	font-size:21px;
}

/* .dropdown-content a:hover {background-color: #629786;} */
.menu_point1{
	display:none;
	position:absolute;
	top:10px;
}
.menu_point2{
	display:none;
	position:absolute;
	top:46px;
}
.menu_point12{
	display:none;
	position:absolute;
	top:10px;
}
.menu_point22{
	display:none;
	position:absolute;
	top:46px;
}
.menumore:hover .dropdown-content {display: block;color:black;text-shadow: none;}
.menumore:hover .dropdown-content2 {display: block;color:black;text-shadow: none;}
#mp1:hover .menu_point1 {display: initial;}
#mp2:hover .menu_point2 {display: initial;}

#mp12:hover .menu_point12 {display: initial;}
#mp22:hover .menu_point22 {display: initial;}

.menu:hover {
	color: #d8cea9;
	text-shadow: 0 0 10px #e4d3ba;
	cursor:pointer;
}

.menu a{
	text-decoration:none;
}
.menu a:visited{
	color:unset;
}
.menu a:link{
	color:unset;
}

.filt_h{
	cursor:pointer;
}
.imgglow{
	--border-width: 3px;
  position: relative;
  width:100px;
  height:100px;
  margin-bottom:5px;
  border-radius: var(--border-width);
  cursor:pointer;
}
.imgglow:hover::after{
	position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}
.imgglow:hover{
	box-shadow:0 0 12px azure;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.display_none{
	display:none;
}
.display_block{
	display:block;
}
.box_shadow{
	box-shadow: 0 0 26px white;
}
.color_hover:hover {
	color: #d8cea9;
	text-shadow: 0 0 10px #e4d3ba;
	cursor:pointer;
}